langchain-google-genai
langchain-core
langchain-community
langchain
sentence-transformers
mysql-connector-python
python-dotenv
langchain-text-splitters
tidb-vector
boto3
sagemaker
sqlalchemy
Flask
twilio
tidb_vector